<!doctype html>
<html lang="en">
<%- include('head') -%>
<link rel="stylesheet" href="assets/css/slider-styles.css">
<body>

<div class="main-container">

    <header>
        <h1>О себе</h1>
    </header>

    <main>
        <p class="first-info">
            Инстаграм <br>
            <a href="http://instagram.com/appoliin" class="about-content">@appoliin</a>
        </p>

        <p class="second-info">
            Почта <br>
            <span class="about-content">shifanovapolina@gmail.ru</span>
        </p>
    </main>

    <a href="/history_arch" class="back-button">назад</a>

    <div class="space"></div>
</div>


<%- include('scripts') -%>
</body>
</html>