<!doctype html>
<html lang="en">
<%- include('head') -%>
<link rel="stylesheet" href="assets/css/slider-styles.css">
<body>

<div class="main-container">

    <header>
        <h1>История о нас и архитектуре</h1>
    </header>

    <main>

        <a href="/main-content" class="button">просмотр</a>

        <a href="/about" class="button">о себе</a>
    </main>

    <div class="space"></div>
</div>

<%- include('scripts') -%>
</body>
</html>