<!doctype html>
<html lang="en">
<%- include('head') -%>
<link rel="stylesheet" href="assets/css/slider-styles.css">
<body>

<div class="main-container">

<header>
    <h1>Россия</h1>
</header>

<main>

    <div class="some-content"></div>

    <a href="/history_arch"  class="history-info">
        <span>
            Историческая справка
        </span>
    </a>
</main>

<div class="space"></div>
</div>

<%- include('scripts') -%>
</body>
</html>