<!doctype html>
<html lang="en">
<%- include('head') -%>
<body>
<div id="main-content"></div>
<div class="main-container">

    <header>
        <h1>Просмотр историй</h1>
    </header>

    <main id="main"></main>

<div class="space"></div>
</div>


<%- include('scripts') -%>
</body>
</html>